.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10%, 80px);
    font-size: 38px;
    color: tomato;

}

.navbar .row .para{
    font-size: 13px;
    color: black;
}

.navbar .profile{
    width: 40px;
}